$optima: #1a428a;
$legolas: #f02d3a;


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header h1{
    display: inline-block;
    font-size: 72px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(90deg, $legolas, aqua, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: .2em;
    margin-bottom: 0;
}

body {
  background: #F5F5F5;
  color: #444;
  font-family: "Helvetica Neue", Arial, serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 10px 0 15px;
}

nav {
  display: inline;
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 1em;
  position: relative;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: $optima;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  &:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
}


p, ul {
  margin: 10px 0;
}

.skills ul li {
  margin-left: 30px;;
}

a {
  color: $optima;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 3px solid $optima;
  padding: 3px;
}

a:hover {
  background-color: $optima;
  color: white;
}

a:active {
  position: relative;
  top: 1px;
}

a.active {
  border-bottom: none;
}
footer p > a{
    color: #00b8d4;
    border-bottom: 3px solid #00b8d4;
}

.content-wrapper {
  line-height: 1.4;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 25px;
}

/*
 * HEADER
 */

.header, header {
  align-items: center;
  background-color: #EFEFEF;
  background-image: url('bg.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top: 4px solid $optima;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  min-height: 250px;
  padding: 0 20px;
  position: relative;
  text-align: center;
}

@media only screen and (max-device-width: 420px)  {
  .header, header {
    background-size: auto 100%;
  }
}

.header:before, header:before {
  background: rgba(0, 0, 0, .7);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header *, header * {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 10px black;
}

.header h1, header h1 {
  font-size: 4rem;
  font-weight: 100;
}

.header h2, header h2 {
  font-size: 2.1rem;
  font-weight: 100;
  margin: 5px 0;
}

/*
 * SKILLS
 */

.skills {
  background: repeating-radial-gradient(circle at 0 0,#000,#666 75px);
  color: deepskyblue;
}

.footer, footer {
  margin-top: 2em;
  background-color: #444;
  color: #eee;
}
.footer h1, footer h1 {
  font-size: 16px;
}
.footer p, footer p {
  font-size: 14px;
}